{% form_theme form 'bootstrap_4_layout.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CRUD</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#new_user_button_id").on("click", function() {
					if ($(this).val() === "New user") {
						$(this).val("Hide");
					}else {
						$(this).val("New user");
					}
					$("#new_user_form_id").toggle();
					$("#save_button_id").toggle();
				});
			});
		</script>
    </head>
    <body>
		<div class="container">
			<div class="page-header">
				<h1>CRUD app</h1>
			</div>
			<div class="jumbotron">
				<input type="button" id="new_user_button_id" value="New user" class="btn btn-primary" style="float: right;">
				<div id="new_user_form_id" name="new_user_form" class="form-inline" style="display:none;">
				{{ form_start(form) }}
					{{ form_row(form.username) }}
					{{ form_row(form.mail) }}
					{{ form_row(form.firstName) }}
					{{ form_row(form.lastName) }}
				{{ form_end(form) }}
				</div>
				<br/><br/><br/>
				<table id="users_table_id" class="table">
					<tr style="border-style:hidden;">
						<th>Username</th> 
						<th>Email</th>
						<th>First name</th>
						<th>Last name</th>
						<th></th>
					</tr>
				{% for u in users %}
					<tr>
						<td>{{ u.username }}</td>
						<td>{{ u.mail }}</td>
						<td>{{ u.firstname }}</td>
						<td>{{ u.lastname}}</td>
						<td>
							<a href="{{ path('app_update', {'slug': u.id}) }}">Update</a>&nbsp
							<a href="{{ path('app_delete', {'slug': u.id}) }}">Delete</a>
						</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
    </body>
</html>
