{% form_theme form 'bootstrap_4_layout.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CRUD</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
		<div class="container">
			<div class="page-header">
				<h1>CRUD app</h1>
			</div>
			<div class="jumbotron">
				<h2>{{ users }}</h2>
				{{ form_start(form) }}
					{{ form_row(form.username) }}
					{{ form_row(form.mail) }}
					{{ form_row(form.firstName) }}
					{{ form_row(form.lastName) }}
				{{ form_end(form) }}
			</div>
		</div>
    </body>
</html>
